.doctor-profile{
    width:auto;
    height: 60vh;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
.doctor-details{
    border-left: 2rem;
}
.profile-img{
    text-align: center;
    padding-top: 3rem;
    margin-bottom: 3rem;
}


@media only screen and (max-width: 400px) {
    .doctor-profile{
        width:auto;
        height: 80vh;
    }
  }